@media screen and (max-width:875px){   
#wrapper{margin:1%;}  

#header{position:static;margin-bottom:1em;}     

#header header{
/* Element in den normalen Dokumentfluss zurückbringen*/
position:static;
/* Breiten der theme.css Überschreiben da feste Breite verwendet */  
max-width:229px; 
width:100%;
min-width:115px;
height:auto;
/* horizontal zentrieren*/
margin:auto;
/* Hinzugefügt damit Hintergrundbild skalierbar wird*/
background-size:contain;
background-position:center; 
}
 
/* Höhe überschreiben um Logo zu verkleinern*/ 
#header h2 a{height:115px;}
/* Ul und Li der navi anpassen */
#header ul{padding-top:1em;text-align:center;}
#header li:nth-child(1n){margin:0.3em;float:none;display:inline-block;}
@media speech{#header li:nth-child(1n){display:list-item;}}
#header li a{width:auto;padding:0.5em}

/* Schriftgröße für Smartphones erhöhen*/
#main{font-size:1.1em;}

/* Bilder über Breite skalierbar gestalten*/
#main img{width:100%;height:auto;}

/* Überschreibung für Tradition.html*/
body#sitetradition #main img{float:none;}
body#sitetradition #main p {width:100%;margin:0;}

/* Überschreibung für Gallery - Teas*/	
body#siteteas #main ul{width:90%;}
body#siteteas #main ul li {width:50%;}
}
 
/* Anpassung Gallery bei noch kleinerer Darstellung */
@media screen and (max-width:400px){
	body#siteteas #main ul li {width:100%;}
	/*	Ausgeblendete Gallery anzeigen: ;*/
	body#siteteas #main{height:auto;overflow:auto;}
	/* Anker zum Blättern verstecken*/
	body#siteteas #main .prev,body#siteteas #main .next{display:none !important;}
}