:root {
  --main-bg-color: #222223;
  --second-bg-color: #2c2c2d;
  --third-bg-color: #e6e6e6;
  --main-text-color: #e6e6e6;
  --primary-title-color: #f36eff;
  --secondary-title-color: #1eecec;
  --main-border-color: #c5c5c5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary-title-color);
  font-size: 1.5em;
}
h1.pageTitle {
  margin-top: 50px;
}
h2 {
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.3em;
}
h3 {
  color: var(--secondary-title-color);
  margin-bottom: 20px;
  font-size: 1em;
}
p,
blockquote {
  font-size: 1.2em;
  text-align: justify;
}
hr {
  max-width: 80%;
  margin: 0 auto;
  border: #1eecec 1px solid;
}
header {
  padding: 40px 20px;
  height: 90vh;
  margin-bottom: 50px;
  background-image: linear-gradient(
    135deg,
    rgb(64, 17, 68) 0%,
    rgb(12, 46, 46) 34%,
    rgba(42, 42, 42, 1) 60%
  );
}
header .logo {
  width: 100%;
  height: 50px;
  margin-bottom: 20vh;
  text-align: center;
}
header .logo img {
  width: 50px;
  margin-right: 5px;
}
header .logo a {
  position: relative;
  bottom: 16px;
  text-decoration: none;
  color: var(--secondary-title-color);
  font-weight: bolder;
  font-size: 1.5em;
  text-shadow: 1px 1px 4px #00000077;
}
header .logo a:hover {
  text-shadow: 1px 1px 8px #f1f1f177;
}

header nav {
  position: relative;
  width: 100%;
}
header nav ul {
  width: 110px;
  margin: 0 auto;
}
header nav ul li {
  height: 40px;
  border: #2e2e2e solid 1px;
  box-shadow: 1px 1px 5px #4e4e4e;
  width: 100px;
  list-style: none;
  line-height: 40px;
  padding: 0px 10px;
  margin: 20px 0;
  border-radius: 4px;
}
header nav ul li:nth-child(1) {
  display: block;
}
header nav ul li:hover {
  box-shadow: 1px 1px 8px #d1d1d1;
  border: var(--main-text-color) solid 1px;
  background-color: var(--third-bg-color);
}

header nav ul li.aktive {
  box-shadow: 1px 1px 8px #d1d1d1;
  border: var(--main-text-color) solid 1px;
  background-color: var(--third-bg-color);
}
header nav ul li.aktive a {
  color: var(--main-bg-color);
}
header nav ul li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgb(230, 230, 230);
  font-weight: bold;
}

header nav ul li a:hover {
  color: var(--main-bg-color);
}

.scroll {
  position: relative;
  width: 100%;
  bottom: -100px;
}
.scroll img {
  width: 40px;
  height: auto;
  display: block;
  margin: 0 auto;
}

main {
  padding: 20px 20px;
}
article#hero {
  height: 100vh;
  margin-bottom: 100px;
  padding-top: 5vh;
}
article#hero video {
  display: none;
}
article#hero h1 {
  margin-bottom: 50px;
}
article#hero h2 {
  text-align: center;
  margin-bottom: 20px;
}
article#hero blockquote {
  text-align: center;
  margin-bottom: 20px;
}
article#hero div.kontaktButton,
form p.kontaktButton {
  width: 100%;
  margin: 40px 0;
}
article#hero div a {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 150px;
  border-radius: 40px;
  background-color: var(--primary-title-color);
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: var(--main-text-color);
  font-weight: bolder;
  font-size: 1em;
  letter-spacing: 0.8px;
}
article#hero div a:hover {
  color: var(--primary-title-color);
  background-color: var(--main-text-color);
  box-shadow: 1px 1px 8px #d1d1d1;
}

article#inhalte .hero figure {
  width: 100%;
}
article#inhalte .hero figure figcaption {
  text-align: center;
}
article#inhalte .hero figure img {
  display: block;
  width: 500px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 1px 1px 8px #000000;
}
article#inhalte .hero .text p {
  text-align: left;
}

article#inhalte .hero article.portfolioElement {
  margin: 60px 0;
}

section {
  width: 100%;
  margin-bottom: 100px;
  padding: 50px 0;
}

section article {
  background-image: linear-gradient(
    135deg,
    rgb(64, 17, 68) 10%,
    rgb(12, 46, 46) 50%
  );
  width: 300px;
  margin: 40px auto;
  border: #707070 1px solid;
  border-radius: 8px;
  padding: 30px 0;
  box-shadow: 1px 1px 5px #4e4e4e;
}
section article:hover {
  background: #2c2c2d;
  background-image: linear-gradient(
    135deg,
    rgb(64, 17, 68) 0%,
    rgb(12, 46, 46) 30%,
    rgba(42, 42, 42, 1) 70%
  );
  box-shadow: 1px 1px 8px #d1d1d1;
}
section article h3 {
  text-align: center;
  width: 100%;
}
section article figure {
  width: 100%;
  margin: 0 auto;
}
section article figure img {
  display: block;
  width: 120px;
  margin: 0 auto;
  -webkit-filter: invert(0.9);
  filter: invert(0.9);
}
section article ul {
  width: 75%;
  margin: 20px auto;
  padding-left: 35px;
}
section.kunden {
  background-image: linear-gradient(
    320deg,
    rgb(64, 17, 68) 10%,
    rgb(12, 46, 46) 50%
  );
}
section.kunden div {
  width: 100%;
}

section.kunden div figure {
  margin-top: 30px;
}
section.kunden div figure img {
  width: 200px;
  max-height: 120px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

footer {
  width: 100%;
  background-color: var(--second-bg-color);
  margin-top: 50px;
}
footer div {
  width: 250px;
  margin: 0 auto;
}
footer p {
  clear: both;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  float: left;
  font-size: 1em;
}
footer nav {
  width: 100%;
  margin: 0 auto;
  padding: 5px 10px;
  float: left;
}
footer nav ul {
  width: 180px;
  margin: 0 auto;
}
footer nav ul li {
  list-style: none;
  float: left;
}
footer nav ul li a {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
  color: var(--main-text-color);
}
footer nav ul li a:hover {
  color: var(--primary-title-color);
  text-shadow: 1px 1px 8px #f1f1f177;
}

.oben {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.oben img {
  width: 60px;
}

article#inhalte .hero .tabelleInhalte {
  width: 100%;
  margin-bottom: 50px;
}
article#inhalte .hero .tabelleInhalte table {
  width: 320px;
  margin: 0 auto;
}
article#inhalte .hero .tabelleInhalte table td,
article#inhalte .hero .tabelleInhalte table th {
  text-align: left;
  padding: 10px 10px;
  border-bottom: 1px solid rgb(52, 52, 52);
}
article#inhalte .hero .formInhalte form {
  min-width: 350px;
  max-width: 450px;
  margin: 0 auto;
}

article#inhalte .hero .formInhalte form .kontakt {
  display: block;
  float: left;
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
}
article#inhalte .hero .formInhalte form .radio {
  display: inline-block;
  width: 150px;
}
input[type="text"],
input[type="email"],
input[type="date"],
textarea {
  background: transparent;
  outline: none;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  font-size: 0.8em;
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="date"]:hover,
textarea:hover {
  box-shadow: 1px 1px 8px #d1d1d1;
}

textarea {
  height: 100px;
}
input[type="submit"] {
  display: block;
  border: none;
  height: 40px;
  width: 150px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 40px;
  background-color: var(--primary-title-color);
  color: var(--main-text-color);
}
input[type="submit"]:hover {
  color: var(--primary-title-color);
  background-color: var(--main-text-color);
  box-shadow: 1px 1px 8px #d1d1d1;
}
/* 
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
*/
@media only screen and (min-width: 900px) {
  header {
    padding: 20px 40px;
    height: 50px;
    margin-bottom: 0;
  }
  header .logo {
    width: 20%;
    min-width: 200px;
    margin-bottom: 0;
    text-align: left;
    float: left;
  }

  header nav {
    position: relative;
    width: 70%;
    height: 50px;
    float: right;
    padding: 0;
  }
  header nav ul {
    width: 100%;
    margin: 0 auto;
  }
  header nav ul li {
    float: left;
    margin: 0;
    margin-left: 15px;
    background-color: unset;
    border: unset;
  }
  header nav ul li:nth-child(1) {
    display: none;
  }

  main,
  .scroll {
    clear: both;
  }
  header .scroll {
    display: none;
  }

  main {
    padding: 0 100px;
  }
  article#hero {
    position: relative;
    height: 90vh;
  }
  article#hero div.hero {
    margin-top: 150px;
    padding: 10px;
  }
  article#hero div.kontaktButton {
    margin-top: 60px;
    padding: 0;
  }

  article#hero video {
    display: block;
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.08;
  }
  .scroll {
    margin-top: 80px;
    bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  header nav ul li:nth-child(1) {
    display: block;
  }

  main {
    padding: 0 200px;
  }

  section .dienst {
    width: 100%;
    height: auto;
    margin: 50px auto;
  }

  section .dienst article {
    float: left;
    margin: 0;
    margin-left: 30px;
    margin-top: 30px;
  }
  .clear {
    clear: both;
  }
  section.kunden div {
    width: 100%;
    margin: 30px auto;
  }
  section.kunden div figure {
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1450px) {
  section .dienst {
    width: 1000px;
  }
  section.kunden div {
    width: 1000px;
  }
}
