html { 
	color: #000;
	background-color: #ebebe9; 
	font-family:monospace;  /* Courier , schreibmaschinenschrift */ 
}   

/*************************
/* allgemeine Angaben 
*/ 
h1, h2, h3, h4{
color:#ff0066;
}

h1{margin:0;}

p{font-size:1.1em;}

img{display:inline-block;}

/* Verweise vorformatieren*/
a{
color:#333;
border-bottom:1px dotted #333;
text-decoration:none;
}
a:hover,a:focus{
color:#ff0066;
border-bottom:none; 
}

/**************************
/* Bereiche
/**/
#wrapper {
width:960px;
margin: 0 auto;  
}

/* Falls Hintergrundbild */
/*
#header {
  background:url("../img/header_bg.jpg") no-repeat top left; 
  height:157px;
}
*/
  
#header a{
  display:block;
  height:157px;
}

#navigation{
	background:#2A2927;
  width:220px;
  font-size:1.5em;
} 
  
#navigation a{
  color:#fff;
  border-bottom:none;
  text-decoration:underline;
  display:block;
}
  
#navigation a:hover,#navigation a:focus{
  color:#ff0066;
} 

#footer{
  background:#2A2927;
  text-align:center;
  padding:20px;
  font-size:1.4em; 
}