:root{
  --colorA:#ffc107;
  --colorA2:#ffca2c;
  --colorB : #BF281B;
  /* --colorC :; */
}
.name {
  white-space: nowrap;
  overflow: hidden;
  max-width: 50%;
  text-overflow: ellipsis; 
}

h2{
  color: var(--colorB);
}


/*
die klasse in bootstrap für oben
.text-truncate
*/