body{
    border: 3px solid rgb(236, 216, 255);
    padding: 20px;
    width: 920px;
    margin: auto;
    background-color: #f9f9f9;
    color: rgb(59, 59, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
h1,h2,h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    color: blueviolet;
}
h2{
    color: rgb(69, 163, 119);
}
h3{
    color: #04a9be;
}
header{
    background: url('../images/dogs-banner.png') no-repeat top;
    border: 1px solid white;
    margin: 10px;
    background-color: #f3f3f3;
    height: 120px;
}
header nav{
    border: 1px solid white;
    margin: 10px;
    background-color: #f3f3f3;
    /* height: 30px; */
}
main{
    border: 1px solid white;
    margin: 10px;
    background-color: #fbfbfb;
}

main nav{
    width: 500px;
    height: 40px;
    margin: 50px auto;
}

main nav ul{
    list-style: none;  
}
main nav ul li{
    display: block;
    float: left;
    margin: 0 5px;
    padding: 5px;
    font-weight: bold;
    

}
main nav ul li a{
    text-decoration: none;
    color: blueviolet;
}
main nav ul li a:hover{
    text-decoration: none;
    color: rgb(181, 114, 243);
}

main h1{
    clear: both;
}
main section{
margin-bottom: 50px;
padding: 50px 10px;
}

footer{
    border: 1px solid white;
    margin: 10px;
    background-color: #f3f3f3;
    height: 30px;
}
tr:nth-child(even) {
    background-color: #c0f8ff;
}

td,th{
    /* border: #e9e9e9 1px solid; */
    padding: 10px 10px;
}
td img{
    width: 150px;
}




